<div class="container">
<h1 class="h1"> Gerenciador de Turmas <br>
  <button class="btn btn-sm btn-primary">
    <i class="fa fa-plus-circle"></i>
    Novo
  </button>
</h1>
  <div *ngIf="status_lista === false" class="alert alert-danger">
    <strong>Ops!</strong> Ocorreu um erro tentar acessar a API para consultar as turmas.
    Parece que o servidor está inacessível ou está recusando conexões. Por isso não será possível
    utilizar o sistema neste momento. Tente novamente dentro de alguns intantes
  </div>
  <div *ngIf="status_lista !== false">
    <div *ngIf="excluir_ok" class="alert alert-success">
      <strong>Sucesso!</strong> A turma foi excluída com sucesso.
    </div>

    <app-lista-de-turmas [turmas]="turmas" (onBuscarDisciplina)="buscarDisciplina($event)" [disciplina] = "disciplinaBsucada" [professores]="professores" (onExcluir)="excluir($event)"
      [editando]="editando" (onEditar)="editar($event)" >
    </app-lista-de-turmas>

    <h2>Cadastrar ou editar</h2>
    <p>Use este formulário para cadastrar ou editar uma turma.</p>
    <div *ngIf="salvar_ok" class="alert alert-success">
      <strong>Sucesso!</strong> Os dados da turma foram salvos com sucesso.
    </div>
    <div>
    <app-editor-de-turma [turma]="editando" [disciplina]="disciplinas" [professor]="professores" (onSalvar)="salvar()" (onCancelar)="cancelar()">
    </app-editor-de-turma>
  </div>
</div>
